.formRowContainer
{
      width: 100%;
      padding-top: 10px;
}
.labelContainer {
    padding-top: 2px;
    float: left;
    min-width: 200px;
    padding-bottom: 10px;
    margin-right: -56px;
}
.buttonContainerReg {
    margin-left: 145px;
}
.buttonContainerconfig 
{
    color:#000;
    margin-left:62px;
}
.error {
    color:red;
}
.valueContainerconfig >input
{
    border:1px solid black;
    /*float:left;*/
    width:200px;
    margin-left:10%;
}
textarea 
{
    border:1px solid black;
    font-family: inherit;
    width: 202px;
    margin-left: 10%;
}
input#IsActive {
    margin-left: 3px;
}
.clearStyle
{
    clear: both;
}
.buttonContainerEdit
{
   padding-top: 10px;
   margin-left:150px; 
}
button 
{
    width: 81px;
    height: 38px;
    color: #000;
    margin-left: 4px;
}
.buttonLogin {
    margin-left: 145px;
}
.important-mark 
{
    color: red;
    padding: 5px 1px;
    float: left;
}
.labelContainer label {
    float: left;
}
.validation-summary-errors {
    color: #d25f81;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 126px !important;
  }
.float-left 
{
    float: right;
    margin-right: 40%;
}
#body
{
min-height: 600px;
}
input.input-validation-error 
{
    border: 1px solid #e80c4d;
}
textarea.input-validation-error 
{
    border: 1px solid #e80c4d;
}
.Emailformat {
    display: table;
    margin-left: 26%;
    margin-top: -24px;
}
.LeadSettings {
    margin-left: 23px;
}
.LeadSettings > input {
     margin-left: -6%;
    height: 18px;
}
.textbox {
 width: 211px;
 height:31px;
}

.loginbox
{
 width: 211px;
 height:31px;
}
.validationErrors {
    margin-left: 121px;
}
.validationFBConfig{
    margin-left:121px;
}