body
{
    width:100%;
}
.home
{
text-align:center;
}
.main {
    background-color:white;
    /* width: 101%; */
}
.header
{
    background-color:black;
    padding-bottom:3%;
}
.contents 
{
    margin-left:15%;
    margin-top: 1%;
    font-family:Arial;
}
.tab
{
margin-left:2%;
}
.bold
{
font-weight:bold;
font-size:medium;
}
.tab > li
{
    list-style:initial;
}