<div layout="row" layout-padding="100">    
    <div flex="98" flex-xs="100">
        <md-card>
            
            <button class="btn pull-right" color="primary" md-raised-button [routerLink]="['/fbconfiguration']" style="float:right;">Create</button>
               <md-card-title color="primary">
                <span>FB Configuration List</span>
            </md-card-title>
            <md-card-content>
                <md-data-table layout-fill>
                    <thead>
                        <tr>
                            <th sortable class="md-text-cell">FBDataSource</th>
                            <th sortable class="md-text-cell">FBInitialCatalog</th>
                            <th sortable class="md-text-cell">FBClientId</th>
                            <th sortable class="md-text-cell">FBClientPassword</th>
                            <th sortable class="md-text-cell">FBPort</th>
                            <th sortable class="md-text-cell">FBConnection</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let material of fbconfigurations">
                            <td class="md-text-cell">{{ material.FBDataSource }}</td>
                            <td class="md-text-cell">{{ material.FBInitialCatalog }}</td>
                            <td class="md-text-cell">{{ material.FBClientId }}</td>
                            <td class="md-text-cell">{{ material.FBClientPassword }}</td>
                            <td class="md-text-cell">{{ material.FBPort }}</td>
                            <td class="md-text-cell">{{ material.FBConnection }}</td> 
                            <td>
                                <a [routerLink]="['/fbconfigurationupdate',material.Id]">
                                    <i class="material-icons">mode_edit</i>
                                </a>
                            </td>
                            <td class="md-text-cell">
                                <button (click)="deleteUser(material.Id)"><i class="material-icons">delete</i></button>
                            </td>
                        </tr>
                    </tbody>
                </md-data-table>                             
                        <!--<swui-datatable [rows]="profiles"
                                [columns]="columns">
                </swui-datatable>-->
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">

            </md-card-actions>
        </md-card>
    </div>

</div>


